.container {
    width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    height: calc(100vh - 100px);
    flex-direction: column;
}

.head {
    align-items: center;
    height: 100px;
    display: flex;
    justify-content: center;
}

img {
    height: 600px;
    border-radius: 10px;
    display: block;
    margin: 0px auto;
}

.btnContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10%;
}

.btn {
    transition: transform 200ms ease;
    width: 90px;
    height: 35px;
    border-radius: 5px;
    background-color: #24ADF3;
    border: 1px solid #24ADF3;
    color: #fff;
    cursor: pointer;
}

.mainInfo {
    align-items: center;
    height: 90%;
}

.btn:active {
    transform: scale(.8);
}

.description {
    margin-left: 20px;
}

.explanation {
    font-size: 15px;
}

.copyright {
    font-style: italic;
}


/*
    header styles

*/

.menuIconContainer {
    user-select: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
}

.menuIcon {
    user-select: none;
    width: 100%;
    height: 100%;
}


/*

    Menu

*/

.menuContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: rgba(255, 255, 255, 0.486); */
    background-color: #20202065;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
}

.menu {
    background-color: #fff;
    height: 100vh;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menuHeader {
    align-self: center;
    background-color: #cff4fc;
    border-color: #b6effb;
    border-radius: 5px;
    color: #055160;
    margin: 100px 0px 0px 0px;
    font-size: .9rem;
    padding: 20px;
    width: 80%;
}

.menuFooter {
    margin-bottom: 50px;
}

.dark {
    /* transition: background 200ms ease-in; */
    background-color: #202020;
    color: #fff;
}

.menuFooter {
    display: flex;
    justify-content: space-evenly;
}

.menuThemeButton {
    background: transparent;
    border: 1px solid lightblue;
    box-shadow: 2px 1px 1px lightblue;
    cursor: pointer;
    transition: transform 200ms ease;
    height: 25px;
}

.menuDarkButton {
    color: #fff;
}

.menuLightButton {
    color: #202020;
}

.menuThemeButton:active {
    transform: scale(.7);
}

.textField {
    padding: 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #24ADF3;
    width: 60px;
    margin: 10px;
}

.menuMainContent {
    padding: 20px;
}

.menuMainContentForm {
    margin: 20px 0px;
}